
/* first page */


body{
  background-color: rgb(39, 38, 38);
      max-width: 100%;
      max-height: 100%;
      padding-bottom: 1000px;
  }
  
  
  

  .navbar-nav{
    margin-left:55rem;

  }
  
  
  
  
  
  .officialartist{
    font-size: 15px;
  
    
  }
  
  
  
  /* Google Fonts Import Link */
  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
  }
  .sidebar{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 260px;
    background: rgb(19, 18, 18);
    z-index: 100;
    transition: all 0.5s ease;
  }
  .sidebar.close{
    width: 78px;
  }
  .sidebar .logo-details{
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
  }
  .sidebar .logo-details i{
    font-size: 30px;
    color: #fff;
    height: 50px;
    min-width: 78px;
    text-align: center;
    line-height: 50px;
  }
  .sidebar .logo-details .logo_name{
    font-size: 22px;
    color: #fff;
    font-weight: 600;
    transition: 0.3s ease;
    transition-delay: 0.1s;
  }
  .sidebar.close .logo-details .logo_name{
    transition-delay: 0s;
    opacity: 0;
    pointer-events: none;
  }
  .sidebar .nav-links{
    height: 100%;
    padding: 30px 0 150px 0;
    overflow: auto;
  }
  .sidebar.close .nav-links{
    overflow: visible;
  }
  .sidebar .nav-links::-webkit-scrollbar{
    display: none;
  }
  .sidebar .nav-links li{
    position: relative;
    list-style: none;
    transition: all 0.4s ease;
  }
  .sidebar .nav-links li:hover{
    background: #1d1b31;
  }
  .sidebar .nav-links li .iocn-link{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .sidebar.close .nav-links li .iocn-link{
    display: block
  }
  .sidebar .nav-links li i{
    height: 50px;
    min-width: 78px;
    text-align: center;
    line-height: 50px;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  .sidebar .nav-links li.showMenu i.arrow{
    transform: rotate(-180deg);
  }
  .sidebar.close .nav-links i.arrow{
    display: none;
  }
  .sidebar .nav-links li a{
    display: flex;
    align-items: center;
    text-decoration: none;
  }
  .sidebar .nav-links li a .link_name{
    font-size: 17px;
    font-weight: 400;
    color: gray;
    transition: all 0.4s ease;
    margin-left: -1.2rem;
  }
  .sidebar.close .nav-links li a .link_name{
    opacity: 0;
    pointer-events: none;
  }
  .sidebar .nav-links li .sub-menu{
    padding: 6px 6px 14px 80px;
    margin-top: -10px;
    background: #1d1b31;
    display: none;
  }
  .sidebar .nav-links li.showMenu .sub-menu{
    display: block;
  }
  .sidebar .nav-links li .sub-menu a{
    color: #fff;
    font-size: 15px;
    padding: 5px 0;
    white-space: nowrap;
    opacity: 0.6;
    transition: all 0.3s ease;
  }
  .sidebar .nav-links li .sub-menu a:hover{
    opacity: 1;
  }
  .sidebar.close .nav-links li .sub-menu{
    position: absolute;
    left: 100%;
    top: -10px;
    margin-top: 0;
    padding: 10px 20px;
    border-radius: 0 6px 6px 0;
    opacity: 0;
    display: block;
    pointer-events: none;
    transition: 0s;
  }
  .sidebar.close .nav-links li:hover .sub-menu{
    top: 0;
    opacity: 1;
    pointer-events: auto;
    transition: all 0.4s ease;
  }
  .sidebar .nav-links li .sub-menu .link_name{
    display: none;
  }
  .sidebar.close .nav-links li .sub-menu .link_name{
    font-size: 18px;
    opacity: 1;
    display: block;
  }
  .sidebar .nav-links li .sub-menu.blank{
    opacity: 1;
    pointer-events: auto;
    padding: 3px 20px 6px 16px;
    opacity: 0;
    pointer-events: none;
  }
  .sidebar .nav-links li:hover .sub-menu.blank{
    top: 50%;
    transform: translateY(-50%);
  }
  .sidebar .profile-details{
    position: fixed;
    bottom: 0;
    width: 260px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #1d1b31;
    padding: 12px 0;
    transition: all 0.5s ease;
  }
  .sidebar.close .profile-details{
    background: none;
  }
  .sidebar.close .profile-details{
    width: 78px;
  }
  .sidebar .profile-details .profile-content{
    display: flex;
    align-items: center;
  }
  .sidebar .profile-details img{
    height: 52px;
    width: 52px;
    object-fit: cover;
    border-radius: 16px;
    margin: 0 14px 0 12px;
    background: #1d1b31;
    transition: all 0.5s ease;
  }
  .sidebar.close .profile-details img{
    padding: 10px;
  }
  .sidebar .profile-details .profile_name,
  .sidebar .profile-details .job{
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    white-space: nowrap;
  }
  .sidebar.close .profile-details i,
  .sidebar.close .profile-details .profile_name,
  .sidebar.close .profile-details .job{
    display: none;
  }
  .sidebar .profile-details .job{
    font-size: 12px;
  }
  .home-section{
    position: relative;
    background: ;
    height: 100vh;
    left: 260px;
    width: calc(100% - 260px);
    transition: all 0.5s ease;
  }
  .sidebar.close ~ .home-section{
    left: 78px;
    width: calc(100% - 78px);
  }
  .home-section .home-content{
    height: 60px;
    display: flex;
    align-items: center;
  }
  .home-section .home-content .bx-menu,
  .home-section .home-content .text{
    color: #11101d;
    font-size: 35px;
  }
  .home-section .home-content .bx-menu{
    margin: 0 15px;
    cursor: pointer;
  }
  .home-section .home-content .text{
    font-size: 26px;
    font-weight: 600;
  }
  @media (max-width: 420px) {
    .sidebar.close .nav-links li .sub-menu{
      display: none;
    }
  }
  
  
  .body{
  background-color: rgb(39, 38, 38);
      max-width: 100%;
      max-height: 100%;
      padding-bottom: 1000px;
  }
  
  
  

  .navbar-nav{
    margin-left:55rem;

  }
  
  
  
  
  
  .officialartist{
    font-size: 15px;
  
    
  }
  
  
  
  /* Google Fonts Import Link */
  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
  }
  .sidebar{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 260px;
    background: rgb(19, 18, 18);
    z-index: 100;
    transition: all 0.5s ease;
  }
  .sidebar.close{
    width: 78px;
  }
  .sidebar .logo-details{
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
  }
  .sidebar .logo-details i{
    font-size: 30px;
    color: #fff;
    height: 50px;
    min-width: 78px;
    text-align: center;
    line-height: 50px;
  }
  .sidebar .logo-details .logo_name{
    font-size: 22px;
    color: #fff;
    font-weight: 600;
    transition: 0.3s ease;
    transition-delay: 0.1s;
  }
  .sidebar.close .logo-details .logo_name{
    transition-delay: 0s;
    opacity: 0;
    pointer-events: none;
  }
  .sidebar .nav-links{
    height: 100%;
    padding: 30px 0 150px 0;
    overflow: auto;
  }
  .sidebar.close .nav-links{
    overflow: visible;
  }
  .sidebar .nav-links::-webkit-scrollbar{
    display: none;
  }
  .sidebar .nav-links li{
    position: relative;
    list-style: none;
    transition: all 0.4s ease;
  }
  .sidebar .nav-links li:hover{
    background: #1d1b31;
  }
  .sidebar .nav-links li .iocn-link{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .sidebar.close .nav-links li .iocn-link{
    display: block;
  }
  .sidebar .nav-links li i{
    height: 50px;
    min-width: 78px;
    text-align: center;
    line-height: 50px;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  .sidebar .nav-links li.showMenu i.arrow{
    transform: rotate(-180deg);
  }
  .sidebar.close .nav-links i.arrow{
    display: none;
  }
  .sidebar .nav-links li a{
    display: flex;
    align-items: center;
    text-decoration: none;
  }
  .sidebar .nav-links li a .link_name{
    font-size: 17px;
    font-weight: 400;
    color: gray;
    transition: all 0.4s ease;
    margin-left: -1.2rem;
  }
  .sidebar.close .nav-links li a .link_name{
    opacity: 0;
    pointer-events: none;
  }
  .sidebar .nav-links li .sub-menu{
    padding: 6px 6px 14px 80px;
    margin-top: -10px;
    background: #1d1b31;
    display: none;
  }
  .sidebar .nav-links li.showMenu .sub-menu{
    display: block;
  }
  .sidebar .nav-links li .sub-menu a{
    color: #fff;
    font-size: 15px;
    padding: 5px 0;
    white-space: nowrap;
    opacity: 0.6;
    transition: all 0.3s ease;
  }
  .sidebar .nav-links li .sub-menu a:hover{
    opacity: 1;
  }
  .sidebar.close .nav-links li .sub-menu{
    position: absolute;
    left: 100%;
    top: -10px;
    margin-top: 0;
    padding: 10px 20px;
    border-radius: 0 6px 6px 0;
    opacity: 0;
    display: block;
    pointer-events: none;
    transition: 0s;
  }
  .sidebar.close .nav-links li:hover .sub-menu{
    top: 0;
    opacity: 1;
    pointer-events: auto;
    transition: all 0.4s ease;
  }
  .sidebar .nav-links li .sub-menu .link_name{
    display: none;
  }
  .sidebar.close .nav-links li .sub-menu .link_name{
    font-size: 18px;
    opacity: 1;
    display: block;
  }
  .sidebar .nav-links li .sub-menu.blank{
    opacity: 1;
    pointer-events: auto;
    padding: 3px 20px 6px 16px;
    opacity: 0;
    pointer-events: none;
  }
  .sidebar .nav-links li:hover .sub-menu.blank{
    top: 50%;
    transform: translateY(-50%);
  }
  .sidebar .profile-details{
    position: fixed;
    bottom: 0;
    width: 260px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #1d1b31;
    padding: 12px 0;
    transition: all 0.5s ease;
  }
  .sidebar.close .profile-details{
    background: none;
  }
  .sidebar.close .profile-details{
    width: 78px;
  }
  .sidebar .profile-details .profile-content{
    display: flex;
    align-items: center;
  }
  .sidebar .profile-details img{
    height: 52px;
    width: 52px;
    object-fit: cover;
    border-radius: 16px;
    margin: 0 14px 0 12px;
    background: #1d1b31;
    transition: all 0.5s ease;
  }
  .sidebar.close .profile-details img{
    padding: 10px;
  }
  .sidebar .profile-details .profile_name,
  .sidebar .profile-details .job{
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    white-space: nowrap;
  }
  .sidebar.close .profile-details i,
  .sidebar.close .profile-details .profile_name,
  .sidebar.close .profile-details .job{
    display: none;
  }
  .sidebar .profile-details .job{
    font-size: 12px;
  }
  .home-section{
    position: relative;
    background: ;
    height: 100vh;
    left: 260px;
    width: calc(100% - 260px);
    transition: all 0.5s ease;
  }
  .sidebar.close ~ .home-section{
    left: 78px;
    width: calc(100% - 78px);
  }
  .home-section .home-content{
    height: 60px;
    display: flex;
    align-items: center;
  }
  .home-section .home-content .bx-menu,
  .home-section .home-content .text{
    color: #11101d;
    font-size: 35px;
  }
  .home-section .home-content .bx-menu{
    margin: 0 15px;
    cursor: pointer;
  }
  .home-section .home-content .text{
    font-size: 26px;
    font-weight: 600;
  }
  @media (max-width: 420px) {
    .sidebar.close .nav-links li .sub-menu{
      display: none;
    }
  }
  
  .websites{
margin-left: 2rem;
color: white;
    border: 1px solid white;
 padding-right: 10px;
 padding-bottom: 20px;
  }
  
  .pages{
margin-left: 1.80rem;
  }
  
  

  
  .logo_name{
    color: white;
  }






  .my-colanalytics{
      border: 1px solid rgb(19, 18, 18);
      background-color: rgb(19, 18, 18);
    padding-top: 2rem;
    padding-bottom: 1rem;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
     border-bottom-left-radius: 10px;
     border-bottom-right-radius: 10px;
  }


  .my-rowanalytics{
      margin-top: -35rem;
      margin-left: 5rem;
  }

  .Analyticstext{
      color: white;
      font-size: 25px;
      margin-left: 1rem;
  }


.my-colanalyticsbutton{
   margin-right: 1rem;

}






.default{
  color: white;
}


.my-coldefault{
  margin-left:2rem;
  margin-top: 3rem;
  font-size: 25px;
}





.my-coldefaultbuttons{

margin-left: 2rem;
}


.Upgrade{
margin-top: 1rem;
font-size: 25px;
}



.my-seccoldefaultbuttons{
margin-left: 6rem;
}


.my-thirdcoldefaultbuttons{
margin-left: 6rem;
}









#pageWrapper > div.page-body-wrapper > div.page-body > div:nth-child(2) > div > div.col-xl-8.xl-100.dashboard-sec.box-col-12 > div.card.earning-card {
min-height: 95%;
}



@media screen and (max-width: 1366px)
.earning-card {
overflow: hidden;
}









.card {

margin-left: 6rem;
margin-bottom: 30px;
border: none;
-webkit-transition: 0s;
transition: 0s;
letter-spacing: 0.5px;
border-radius: 15px;
-webkit-box-shadow: 0 0px;
box-shadow: 0 0px;
}
.card {
position: relative;
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-webkit-box-orient: vertical;
-webkit-box-direction: normal;
-ms-flex-direction: column;
flex-direction: column;
min-width: 0;
word-wrap: break-word;
background-color: #121317;
background-clip: border-box;
border: 1px solid rgba(0,0,0,0.125);
border-radius: 0.25rem;
}



#chart-currently{
margin-right: 4rem;
}


.my-rowdefaultbuttons{
  justify-content: space-around;
  margin-left: 2px;

}









.my-coldashboardbracket{
  border: 1px solid rgb(19, 18, 18);
  padding-bottom: 20px;
  background-color: rgb(19, 18, 18);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
 border-bottom-left-radius: 10px;
 border-bottom-right-radius: 10px;
 margin-left: 6rem;
}



.dashboard{
  color: white;
  margin-left: 3rem;
 font-size: 20px;
  margin-top:7rem;
}


.overview{
  color: gray;
}






.my-colmonthearning{
  color: white;
  font-size: 20px;
  margin-left: 3rem;
}


.monthearningtext{
  color: gray;
}






.my-colmonthprofit{
  color: white;

  font-size: 20px;
}

.monthprofittext{
  color: gray;
}





.my-colmonthsalenumb{
  color: white;

  font-size: 20px;
}

.monthsale{
  color: gray;
}





.my-coldaily{
  margin-top: 4rem;
  margin-left: 3rem;
  color: white;
  font-size: 18px;
}


.my-colweekly{
  color: red;
  margin-top: 4rem;
  margin-left:3rem;
  font-size: 18px;
}


.my-colonline{
color: gray;
margin-top: 4rem;
  margin-left: 5rem;
  font-size: 15px;
}

.my-colstore{
  color: gray;
  margin-top: 4rem;

  font-size: 15px;
}


.my-viewersrow{
  margin-left: 2rem;
  font-size: 18px;
  color: white;
}


.viewers{
  font-size: 14px;
  color: gray;
  margin-left: 20px;
}
.subs{
  font-size: 14px;
  color: gray;
  margin-left: 20px;
}


#chart{
margin-top: 3rem;

}










.my-coljohndoe{
  border: 1px solid rgb(19, 18, 18);
  background-color: rgb(19, 18, 18);
  padding-bottom: 10px;
  margin-left: 9rem;
  margin-top: 1rem;
border-top-left-radius: 5%;
border-top-right-radius: 5%;
border-bottom-right-radius: 5%;
border-bottom-left-radius: 5%;
}


.trees{
  width: 108%;
  border-bottom-right-radius: 50%;
  border-bottom-left-radius: 50%;
  border-top-left-radius: 6%;
border-top-right-radius: 6%;

}


.johndoe{
  border-radius: 100%;
  width: 40%;
  margin-top: -4rem;
}

.my-iconsjohndoe{
  margin-left: 2rem;
  justify-content: space-around;
margin-top: 1rem;
}

.my-rowdesigner{
  color: white;
  text-align: center;
  font-size: 1rem;
  margin-top: 1rem;
}

.design{
  color: gray;
  font-size: 1.2rem;
}

.my-totalrows{
  font-size: 1.2rem;
}



.my-totalviews{
  border-right: 1px solid white;
  font-size: 1.2rem;
  color: gray;
}

.my-totalsubs{
  border-right: 1px solid white;
  font-size: 1.2rem;
  color: gray;
}

.my-totallinkclicks{

  font-size: 1.2rem;
  color: gray;

}


.viewsnumb{
  color: white;
}


.totalviews{
font-size: 1rem;
}


.totalsubscribers{
  font-size: 1rem;
}


.totallinkclicks{
  font-size: 1rem;
}





.my-coltopreleases{
  border: 1px solid rgb(19, 18, 18);
  background-color: rgb(19, 18, 18);
  margin-left: 4rem;
  margin-top: 1rem;
  color: white;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
 border-bottom-left-radius: 10px;
 border-bottom-right-radius: 10px;
 padding-bottom: 1.5rem;
}

.my-coltopreleasestext{
  margin-top: 2rem;
  margin-left: 1rem;
}

.topreleases{
  font-size: 20px;
}


.my-colsongs{
  border-top: 1px solid white;
  border-bottom: 1px solid white;
padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  margin-left: 2rem;
  margin-top: 2rem;
}



.my-colsongstwo{
  border-bottom: 1px solid white;

  margin-left: 2rem;
}


.my-colsongsthree{
  border-bottom: 1px solid white;

  margin-left: 2rem;

}


.my-colsongsfoor{
  border-bottom: 1px solid white;

  margin-left: 2rem;

}


.my-colsongsfive{
  border-bottom: 1px solid white;

  margin-left: 2rem;

}





.firstnumb{
margin-top: 1.5rem;

}

.my-colsectree {

margin-left: -4rem;
}

.my-colwhocares{

margin-left: 2rem;
}



.sectree{
  width: 120%;
  height:105%;
  margin-left: 1rem;
  margin-top: -0.1rem;
   border-top-left-radius: 5px;
  border-top-right-radius: 5px;
 border-bottom-left-radius: 5px;
 border-bottom-right-radius: 5px;
}

.whocares{
  margin-top: 0.6rem;

}

.whocaresnumb{
  margin-top: -1rem;
  color: gray;
}




.my-colsongstwo{
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}










.my-copyrightscol{
  border: 1px solid rgb(19, 18, 18);
  background-color: rgb(19, 18, 18);
  padding-bottom: 0.1rem;
  margin-top: 2rem;
  margin-left: 1.4rem;

}


.my-copyrights{
  margin-top: 1rem;
  color: white;
}


















  .logo_name{
    color: white;
  }






  .my-colanalytics{
      border: 1px solid rgb(19, 18, 18);
      background-color: rgb(19, 18, 18);
    padding-top: 2rem;
    padding-bottom: 1rem;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
     border-bottom-left-radius: 10px;
     border-bottom-right-radius: 10px;
  }


  .my-rowanalytics{
      margin-top: -35rem;
      margin-left: 5rem;
  }

  .Analyticstext{
      color: white;
      font-size: 25px;
      margin-left: 1rem;
  }


.my-colanalyticsbutton{
   margin-right: 1rem;

}






.default{
  color: white;
}


.my-coldefault{
  margin-left:2rem;
  margin-top: 3rem;
  font-size: 25px;
}





.my-coldefaultbuttons{

margin-left: 2rem;
}


.Upgrade{
margin-top: 1rem;
font-size: 25px;
}



.my-seccoldefaultbuttons{
margin-left: 6rem;
}


.my-thirdcoldefaultbuttons{
margin-left: 6rem;
}









#pageWrapper > div.page-body-wrapper > div.page-body > div:nth-child(2) > div > div.col-xl-8.xl-100.dashboard-sec.box-col-12 > div.card.earning-card {
min-height: 95%;
}



@media screen and (max-width: 1366px)
.earning-card {
overflow: hidden;
}









.card {

margin-left: 6rem;
margin-bottom: 30px;
border: none;
-webkit-transition: 0s;
transition: 0s;
letter-spacing: 0.5px;
border-radius: 15px;
-webkit-box-shadow: 0 0px;
box-shadow: 0 0px;
}
.card {
position: relative;
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-webkit-box-orient: vertical;
-webkit-box-direction: normal;
-ms-flex-direction: column;
flex-direction: column;
min-width: 0;
word-wrap: break-word;
background-color: #121317;
background-clip: border-box;
border: 1px solid rgba(0,0,0,0.125);
border-radius: 0.25rem;
}



#chart-currently{
margin-right: 4rem;
}


.my-rowdefaultbuttons{
  justify-content: space-around;
  margin-left: 2px;

}







.my-row{

}

.my-col{
  border: 1px solid rgb(19, 18, 18);
  padding-bottom: 20px;
  background-color: rgb(19, 18, 18);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
 border-bottom-left-radius: 10px;
 border-bottom-right-radius: 10px;
 margin-left: 6rem;
}



.dashboard{
  color: white;
  margin-left: 3rem;
 font-size: 20px;
  margin-top:7rem;
}


.overview{
  color: gray;
}






.my-colmonthearning{
  color: white;
  font-size: 20px;
  margin-left: 3rem;
}


.monthearningtext{
  color: gray;
}






.my-colmonthprofit{
  color: white;

  font-size: 20px;
}

.monthprofittext{
  color: gray;
}





.my-colmonthsalenumb{
  color: white;

  font-size: 20px;
}

.monthsale{
  color: gray;
}





.my-coldaily{
  margin-top: 4rem;
  margin-left: 3rem;
  color: white;
  font-size: 18px;
}


.my-colweekly{
  color: red;
  margin-top: 4rem;
  margin-left:3rem;
  font-size: 18px;
}


.my-colonline{
color: gray;
margin-top: 4rem;
  margin-left: 5rem;
  font-size: 15px;
}

.my-colstore{
  color: gray;
  margin-top: 4rem;

  font-size: 15px;
}


.my-viewersrow{
  margin-left: 2rem;
  font-size: 18px;
  color: white;
}


.viewers{
  font-size: 14px;
  color: gray;
  margin-left: 20px;
}
.subs{
  font-size: 14px;
  color: gray;
  margin-left: 20px;
}


#chart{
margin-top: 3rem;

}










.my-coljohndoe{
  border: 1px solid rgb(19, 18, 18);
  background-color: rgb(19, 18, 18);
  padding-bottom: 10px;
  margin-left: 9rem;
  margin-top: 1rem;
border-top-left-radius: 5%;
border-top-right-radius: 5%;
border-bottom-right-radius: 5%;
border-bottom-left-radius: 5%;
}


.trees{
  width: 108%;
  border-bottom-right-radius: 50%;
  border-bottom-left-radius: 50%;
  border-top-left-radius: 6%;
border-top-right-radius: 6%;

}


.johndoe{
  border-radius: 100%;
  width: 40%;
  margin-top: -4rem;
}

.my-iconsjohndoe{
  margin-left: 2rem;
  justify-content: space-around;
margin-top: 1rem;
}

.my-rowdesigner{
  color: white;
  text-align: center;
  font-size: 1rem;
  margin-top: 1rem;
}

.design{
  color: gray;
  font-size: 1.2rem;
}

.my-totalrows{
  font-size: 1.2rem;
}



.my-totalviews{
  border-right: 1px solid white;
  font-size: 1.2rem;
  color: gray;
}

.my-totalsubs{
  border-right: 1px solid white;
  font-size: 1.2rem;
  color: gray;
}

.my-totallinkclicks{

  font-size: 1.2rem;
  color: gray;

}


.viewsnumb{
  color: white;
}


.totalviews{
font-size: 1rem;
}


.totalsubscribers{
  font-size: 1rem;
}


.totallinkclicks{
  font-size: 1rem;
}





.my-coltopreleases{
  border: 1px solid rgb(19, 18, 18);
  background-color: rgb(19, 18, 18);
  margin-left: 4rem;
  margin-top: 1rem;
  color: white;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
 border-bottom-left-radius: 10px;
 border-bottom-right-radius: 10px;
 padding-bottom: 1.5rem;
}

.my-coltopreleasestext{
  margin-top: 2rem;
  margin-left: 1rem;
}

.topreleases{
  font-size: 20px;
}


.my-colsongs{
  border-top: 1px solid white;
  border-bottom: 1px solid white;
padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  margin-left: 2rem;
  margin-top: 2rem;
}



.my-colsongstwo{
  border-bottom: 1px solid white;

  margin-left: 2rem;
}


.my-colsongsthree{
  border-bottom: 1px solid white;

  margin-left: 2rem;

}


.my-colsongsfoor{
  border-bottom: 1px solid white;

  margin-left: 2rem;

}


.my-colsongsfive{
  border-bottom: 1px solid white;

  margin-left: 2rem;

}





.firstnumb{
margin-top: 1.5rem;

}

.my-colsectree {

margin-left: -4rem;
}

.my-colwhocares{

margin-left: 2rem;
}



.sectree{
  width: 120%;
  height:105%;
  margin-left: 1rem;
  margin-top: -0.1rem;
   border-top-left-radius: 5px;
  border-top-right-radius: 5px;
 border-bottom-left-radius: 5px;
 border-bottom-right-radius: 5px;
}

.whocares{
  margin-top: 0.6rem;

}

.whocaresnumb{
  margin-top: -1rem;
  color: gray;
}




.my-colsongstwo{
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}










.my-copyrightscol{
  border: 1px solid rgb(19, 18, 18);
  background-color: rgb(19, 18, 18);
  padding-bottom: 0.1rem;
  margin-top: 2rem;
  margin-left: 1.4rem;

}



.my-seccopyrightscol{
  border: 1px solid rgb(19, 18, 18);
  background-color: rgb(19, 18, 18);
  padding-bottom: 0.1rem;
  margin-top: 2rem;


}




.my-copyrights{
  margin-top: 1rem;
  color: white;
}




/* first page end here */








/* second page starts here */



.pagestext{
  color: white;
  margin-left: 7rem;
  margin-top: -38rem;
  font-size: 26px;

}


.dashboardtext{
  color: white;
  margin-left: 7rem;
  margin-top: -38rem;
  font-size: 16px;

}


.secontextpages{
  color: gray;
}

.my-colcreatenewpage{
color: rgb(19, 18, 18);
border: 1px solid rgb(19, 18, 18);
background-color: rgb(19, 18, 18);
padding-bottom: 5px;
border-top-left-radius: 10px;
border-top-right-radius: 10px;
border-bottom-left-radius: 10px;
border-bottom-right-radius: 10px;
font-size: 17px;
}

.my-rowcreatenewpage{
  margin-top: -33rem;
  margin-left: 5rem;
 
}

.my-allunactiveactive{
  color: white;
}

.all{
  color: red;
}

.my-allunactiveactive{
  margin-top: 1.5rem;
margin-left: 1rem;
}

.btn-2{
  margin-top: -0.3rem;
  margin-left: 28rem;
  width: 15rem;
  height: 2.2rem;
  border-top-left-radius: 5px;
border-top-right-radius: 5px;
border-bottom-left-radius: 5px;
border-bottom-right-radius: 5px;
}









.my-roww{
  margin-top: 3rem;
}



.my-col{
  border: 1px solid rgb(48, 47, 47);
  background-color: rgb(48, 47, 47);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;


  padding-bottom: 30rem;
  margin-top: 2rem;
}



.my-coll{
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
    border: 1px solid rgb(19, 18, 18);
    background-color: rgb(19, 18, 18);
 
   margin-left: 4rem;
}


.my-colll{
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
    border: 1px solid rgb(19, 18, 18);
    background-color: rgb(19, 18, 18);
   
margin-left: 3rem;
}


.endlessadmindesign{
color: white;
}


.my-rowendlessdesign{
margin-top: 2rem;
}



.circleimg{
  max-width: 7%;
  border-radius: 100%;
}

.Themeforest{
  font-size: 13px;
  color: gray;
}






.jack{
  max-width: 100%;
}





.lorem{
  color: white;
}






.views{
  color: gray;
}

.viewsnumb{
  color: blue;
}






.seccircleimg{
  max-width: 10%;
  border-radius: 100%;

}

.thirdcircleimg{
  max-width: 10%;
  border-radius: 100%;
  margin-left: -1.5rem;

}

.fourthcircleimg{
  max-width: 10%;
  border-radius: 100%;
  margin-left: -1.5rem;

}

.plustenmore{
  color: white;
  margin-left: 2rem;
}





.my-rowsecond{
  margin-top: 3rem;
}


.my-rowwthird{
  margin-top: 3rem;
}





/* second page end here */










/* third page end here */



.my-colcolumnchartbox{
  border: 1px solid white;
  padding-bottom: 200px;
  margin-left: 7.5rem;
  margin-top: -33rem;
  border: 1px solid rgb(19, 18, 18);
  padding-bottom: 8rem;
  background-color: rgb(19, 18, 18);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
 border-bottom-left-radius: 10px;
 border-bottom-right-radius: 10px;
}


.date {
  background: transparent;
  border: 0px;
  color: white;
  margin-top: 3rem;
}


#charttwo{
  margin-top: 5rem;
margin-left: 2.5rem;
width: 90%;
}


.my-colexportcol{
  border: 1px solid rgb(19, 18, 18);
  background-color: rgb(19, 18, 18);
  margin-left: 7.5rem;
  margin-top: 2rem;
  padding-bottom: 20rem;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
 border-bottom-left-radius: 10px;
 border-bottom-right-radius: 10px;
}




.my-exportrow{
  margin-top: 3rem;
  margin-left: -2rem;
}







.exportallselect{
  background: rgb(19, 18, 18);
  border: 0px;
color: white;
  border: 1px solid white;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  margin-left: 1rem;
}







.my-rowshow{
  margin-left: 3rem;
  margin-top: 2rem;
  color: white;
}


.shownumbselect{
  border: 0px;
  background: rgb(19, 18, 18);
  border: 1px solid white;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  color: white;
  padding-left: 0.5rem;
  padding-right: 1.5rem;
  margin-top: -0.5rem;
  margin-left: -2rem;
}


.entries{
  margin-left: -1.5rem;
}






.my-colone{
  border: 1px solid white;
}







.ra{
  color: white;
}



.my-colexportcolss{
border: 1px solid white;
padding-top: 2rem;
}




.dateadded{
  color: white;
}


.jasonjordan{
  max-width: 20%;
  border-radius: 100%;
}




/* Pagination links */
.pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color .3s;
}

/* Style the active/current link */
.pagination a.active {
  background-color: dodgerblue;
  color: white;
}

/* Add a grey background color on mouse-over */
.pagination a:hover:not(.active) {background-color: #ddd;}








/* third page end here */




/* Fourth page starts here */



.my-colinbox{
  border: 1px solid rgb(19, 18, 18);
border-top-left-radius: 2%;
border-top-right-radius: 2%;
border-bottom-left-radius: 2%;
border-bottom-right-radius: 2%;
color: white;
background-color: rgb(19, 18, 18);
margin-top: -33rem;
margin-left: 9rem;
}


.my-firstinboxrow{
  margin-top: 1rem;
}






.dropdown{
  margin-left: 7rem;
  margin-top: 2rem;
}


.loremipsapic{
  margin-left: 5rem;
}








.my-topinboxright{

 padding-bottom: 1rem;
  
}

.loreipsatext{
  margin-left: 1rem;
  
}


.frompage{
  margin-left: 4.3rem;
}


.lorememail{
  text-align: end;
}


.topporklorn{
  text-align: center;
}

.porklorn{
  text-align: center;
}








.my-colscroll{


  text-align: start;
}


.my-colelementum{


  text-align: start;

}


.elementumtexttitle{
  font-size: 20px;
  margin-left: 2rem;
}

.loremipsumelementum{
    margin-left: 2rem;
}


.loremipsumelementumsecpara{
   margin-left: 2rem;
  border-bottom: 1px solid gray;


}


.attachements{
    margin-left: 2rem;
    margin-top: 1rem;
}


.download{
margin-left: 22rem;
}


.attachementimages{
   max-width: 20%;
   margin-left: 2rem;

 
}

.reply{
   border-top: 1px solid gray;
   padding-top: 1rem;
   margin-left: 2rem;
   margin-top: 2rem;
   
}


.replyall{
   margin-left: 1rem;
}

.forward{
  margin-left: 1rem;
}







/* Fourth page end here */




/* Fifth page starts here */







/* Fifth page end here */



.analytics{
  color: white;
  margin-left: 4rem;
}


.emailappselect{
  background: transparent;
padding-top: 0.5rem;
padding-bottom: 0.5rem;
  border: 0px;
color: white;
  border: 1px solid white;

}



.my-thirdchartrow{
  margin-top: -30rem;
  margin-left: 7rem;
  
}




.my-thirdchartcol{

  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
 border-bottom-left-radius: 1rem;
 border-bottom-right-radius: 1rem;
 border: 1px solid rgb(19, 18, 18);
 background-color: rgb(19, 18, 18);

}


.clicks{
  color: white;
  font-size: 30px;
  margin-top: 1rem;
  margin-left: 1rem;

}

.youtubespotifyetcpics{
  border-radius: 100%;
  max-width: 80%;
}







.alll{
  color: white;
  font-size: 14px;
margin-left: 1.5rem;
}



.spotify{
  color: white;
  font-size: 14px;
  margin-left: 0.5rem;
}



.youtube{
  color: white;
  font-size: 14px;
margin-left: 0.3rem;
}


.applemusic{
  color: white;
  font-size: 14px;
margin-left: -0.4rem;
}










.my-colanalyticsviews{
  border: 1px solid rgb(19, 18, 18);
 background-color: rgb(19, 18, 18);
 border-top-left-radius: 1rem;
 border-top-right-radius: 1rem;
border-bottom-left-radius: 1rem;
border-bottom-right-radius: 1rem;
  padding-right: 15rem;
  margin-left: 2rem;
}


.views{
color: white;
font-size: 30px;
margin-top: 1rem;
margin-left: 1rem;
}















.my-Viewsfromcol{
  border: 1px solid rgb(19, 18, 18);
  background-color: rgb(19, 18, 18);
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
 border-bottom-left-radius: 1rem;
 border-bottom-right-radius: 1rem;
  padding-right: 5rem;
  margin-left: 2rem;
}


.my-rowpagenamenumb{
  margin-top: 1rem;

}

.pagename{
  color: white;
  font-size: 14px;
  margin-left: 2.2rem;
}

.pagenamenumb{
  font-size: 14px;
  color: white;
margin-left: 2.5rem;
}









.my-firstpagecolborder{
  border-bottom: 5px solid white;
  margin-left: 3rem
}


.my-firstpagecolsecborder{

  border-top: 5px solid red;
  margin-left: 8.3rem;
margin-top: -0.3rem;
}







.my-secpagecolborder{
  border-bottom: 5px solid white;
  margin-left: 3rem
}


.my-secpagecolsecborder{

  border-top: 5px solid red;
  margin-left: 7.3rem;
margin-top: -0.3rem;
}






.my-thirdpagecolborder{
  border-bottom: 5px solid white;
  margin-left: 3rem
}


.my-thirdpagecolsecborder{

  border-top: 5px solid red;
  margin-left: 9.3rem;
margin-top: -0.35rem;
}






.my-fourthpagecolborder{
  border-bottom: 5px solid white;
  margin-left: 3rem
}


.my-fourthpagecolsecborder{

  border-top: 5px solid red;
  margin-left: 10.3rem;
margin-top: -0.35rem;
}











.listeners{
  margin-top: 1rem;
  margin-left: 1rem;
  font-size: 30px;
  color: white;
}



.americanflag{
  border-radius: 100%;
  max-width: 20%;
}


.unitedstates{
  margin-left: 4rem;
  margin-top: -2rem;
  font-size: 14px;
  color: white;
}




.my-targetedaudience{
  margin-top: 2rem;
  border: 1px solid rgb(19, 18, 18);
  background-color: rgb(19, 18, 18);
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
 border-bottom-left-radius: 1rem;
 border-bottom-right-radius: 1rem;
}



























.userprofilewallpaper{
max-width: 390%;

}


.my-coluser{
  margin-top: -33rem;
  margin-left: 6.5rem;
}